.product {
    width: 150px;
    height: 250px;
    background-color: #5f5f5f;
    margin: 10px;
    display: inline-block;
    padding: 3px;
    position: relative;
    animation-name: change_color;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.product_name:hover + .b {
    background: #ccc;
}

.product_image {
    width: 100%;
    height: 50%;
}


.product_name {
    color: azure;
    font-size: 1.1em;
    text-align: center;
}

.product_sale {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    border: yellow solid;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
    display: inline;
    transform: rotate(-20deg);
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

@keyframes change_color {
    from {background-color: #5f5f5f;}
    to {background-color: #696cff;}
}

@keyframes shake {
    14%   {left:0px; top:0px;}
    28%  {left:20px; top:0px;}
    42%  {left:0px; top:0px;}
    56%  {left:-20px; top:0px;}
    80% {left:0px; top:0px;}
}

.game_item {
    width: 500px;
    height: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: 5px solid;
    background-color: #5f5f5f;
    color: #696cff;
    font-family: "Comic Sans MS";
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.game {
    width: 80%;
    height: 500px;
    font-size: 20px;
    border-radius: 5px;
    border: 5px solid;
    background-color: #74b06b;
    color: #696cff;
    font-family: "Comic Sans MS";
    padding: 30px;
    margin: 50px;
    display: block;
}