.container-a {
    background-color: #ed07ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-b {
    background-color: #696cff;
    display: flex;
    height: 200px;
    border: 2px red solid;
    margin: 7px;
    flex-basis: 90%;
}

.container-b:nth-of-type(odd) {
    flex-direction: row;
    text-align: left;
}

.container-b:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.container-1 {
    background-color: #696cff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.avatar {
    border: 2px yellow solid;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.avatar {
    margin: 10px;
}

.container-box {
    background-color: #74b06b;
    width: 300px;
    padding: 10px;
    border: 1px solid #2b25ff;
    border-radius: 20px;
    margin: 5px;
    position: relative;
}

.text {
    font-size: 0.8em;
    background-color: red;
    display: inline;
    position: absolute;
    top: 15px;
    left: -10px;
    transform: rotate(-45deg);
}

.text::before {
    content: "PRO";
    color: yellow;
}