.menu {
    display: flex;
    flex-flow: row;
}

.menu-item {
    background-color: #5f5f5f;
    width: 100%;
    height: 50px;
    position: relative;
}

.menu-item:hover {
    background-color: #185f1e;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 50px;
}

.submenu-item {
    height: 50px;
    background-color: #5f5f5f;
}

.submenu-item:hover {
    background-color: #11285f;
}