body {
    background-image: url("../images/cat.jpeg");
    background-repeat: repeat-y;
    background-attachment: scroll;
}

p {
    border: 2px solid  red;
    font-size: 10px;
    color: green;
    background-color: black;
    text-align: center;
    font-family: "Comic Sans MS";
}

p.test {
    border: aqua 5px dotted;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 100px;
    padding: 10px;
}

li {
    color: azure;
}

h1{
    text-align: center;
}

p.large-red{
    color: red;
    font-size: large;
}

h1.large-red {
    color: green;
}

.small-blue {
    font-size: small;
    color: blue;
}

.div1 {

}