.myclass {
    height: 100px;
    animation-name: my-animate;
    animation-duration: 8s;
}

.myclass2 {
    color: #ed07ff;
}

.ani {
    background-color: black;
    width: 100px;
    height: 100px;
    animation-name: my-animate;
    animation-duration: 10s;
    position: relative;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.ani1 {
    animation-timing-function: linear;
    background-color: gold;
}

.ani2 {
    animation-timing-function: ease;
    background-color: red;
}

.ani3 {
    animation-timing-function: ease-in;
    background-color: blue;
}

.ani4 {
    animation-timing-function: ease-out;
    background-color: aqua;
}

.ani5 {
    animation-timing-function: ease-in-out;
    background-color: green;
}


@keyframes my-animate {
    from {left: 0px; top: 0px}
    to {left: 1000px; top: 0px}
}