.raz {
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: red;
}

.dva {
    text-transform: uppercase;
    background-color: black;
    color: azure;
    font-size: 10px;
}

.test_button {
    color:red;
    background-color: black;
    font-size: 40px;
    font-family: "Comic Sans MS";
}

.test_button:hover {
    color:white;
    background-color: black;
    font-size: 80px;
    font-family: "Arial";
}

.norm {
    background-color: #afafaf;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    border-radius: 25px;
}

.norm:hover {
    background-color: #5f5f5f;
}

.norm:active {
    background-color: #000000;
    width: 80px;
    height: 80px;
    bottom: 85px;
    right: 85px;
    border-radius: 40px;
}